@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-UltraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-Black.woff2') format('woff2');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'ShoorFaNum';
  src: url('https://cdn.jsdelivr.net/gh/Arshia775/persianfont@master/ShoorFaNum-Super.woff2') format('woff2');
  font-weight: 1000;
  font-style: normal;
}
